*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FEECB3;
}

h1,h3{
    color: red;
    background-color: #FFF6EA;
    text-align: center;
    margin-bottom: 15px;
}


.post{
    background-color:#ED3EF7;
    margin: 25px auto 25px 15px;
    padding: 5px;
    border-radius: 5px;
    width: 200px;
    border-color: #BF2EF0;
    border-width: 15px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
button{
    background-color: #16C47F;
    border-radius: 6px;
    padding: 3px;
    margin: 5px auto;
}
.user{
    font-style: italic;
}

.edit{
    color: #FFD65A;
    
}